/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #0b0b0b;
    color: #fff;
    scroll-behavior: smooth;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 25px 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo img {
    height: 65px;
    border-radius: 8px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 45px;
}

.menu li {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #f5f5f5;
}

.menu li:hover {
    color: #ff3131;
    transform: scale(1.07);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-btn {
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}

.signup-btn {
    background-color: transparent;
    border: 2px solid #ff2e2e;
    color: #ff2e2e;
}

.signup-btn:hover {
    background-color: #ff2e2e;
    color: #fff;
    transform: scale(1.05);
}

.subscribe-btn {
    background-color: #ff2e2e;
    color: white;
}

.subscribe-btn:hover {
    background-color: #ff4c4c;
    transform: scale(1.05);
}

.nav-icon i {
    font-size: 24px;
    color: #f5f5f5;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 80px 80px;
    gap: 50px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
}

.red-text {
    color: #ff2e2e;
}

.hero-text p {
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.6;
    color: #ddd;
}

.hero-buttons {
    margin-top: 35px;
}

.btn {
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease;
    font-size: 16px;
}

.btn-red {
    background-color: #ff2e2e;
    color: #fff;
}

.btn-dark {
    background-color: #222;
    color: #fff;
}

.btn:hover {
    transform: scale(1.05);
}

/* Stats Section */
.stats {
    display: flex;
    gap: 50px;
    margin-top: 60px;
}

.stat h3 {
    font-size: 28px;
    font-weight: 800;
}

.stat p {
    font-size: 15px;
    color: #ccc;
}

.gradient h3 {
    background: linear-gradient(90deg, #ff2e2e, #f9a825);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Hero Image Section */
.hero-image {
    max-width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-box img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 48, 48, 0.5);
    transform: rotate(0deg);
}
